Source: docker-compose-plugin
Section: admin
Priority: optional
Maintainer: Bruno Verachten <bruno.verachten@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0
Homepage: https://github.com/docker/compose
Rules-Requires-Root: no

Package: docker-compose-plugin
Architecture: riscv64
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: docker-cli
Conflicts: docker-compose (<< 2.0)
Replaces: docker-compose (<< 2.0)
Description: Docker Compose v2 plugin for RISC-V64
 Docker Compose is a tool for running multi-container applications on
 Docker defined using the Compose file format. A Compose file is used
 to define how one or more containers that make up your application
 are configured.
 .
 This package provides pre-built binaries for RISC-V64 architecture.
 .
 Usage: docker compose up
