[submodule "moby"]
	path = moby
	url = https://github.com/moby/moby.git
[submodule "upstream-debian-docker"]
	path = upstream-debian-docker
	url = https://salsa.debian.org/docker-team/docker.git
[submodule "compose"]
	path = compose
	url = https://github.com/docker/compose.git
[submodule "cli"]
	path = cli
	url = https://github.com/docker/cli.git
[submodule "cagent"]
	path = cagent
	url = https://github.com/docker/cagent.git
